.backgroundImg {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(59, 59, 59, 0.6),
      rgba(59, 59, 59, 0.6)
    ),
    url(../../images/about_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    width: 62%;

    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    div {
      width: 350px;
      height: 320px;
      border: 1px solid white;
    padding: 20px 55px;
      transition: 0.4s;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items:center ;
      justify-content: space-around;
    &:hover{
          
        border: 1px solid #28ae60;
      background-color: #28ae60;
      
    }

    }
  }
}
